<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <select id="m-select">
      <option value="">Selecionar</option>
      <option value="0">Produto</option>
      <option value="1">Departamento</option>
    </select>
    
    <button id="btn-comissao">recupere valor selecionado</button>

    <div id="d1" data-comissao-produto>
      <h1>Div Produto</h1>
    </div>
    <div id="d2" data-comissao-departamento>
      <h1>Div Departamento</h1>
    </div>
  </body>
  <script src="../../../public/assets/js/development/sections/show/show.event.js"></script>
</html>