  <header>
    <meta charset="utf-8">
    <meta charset='utf-8'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'/>
  </header>
  <body class="container" id="myBody">
      <div id="div1"></div>
      <div class="nome"></div><hr>
      <button class="btn btn-success" type="button" id="more">
        Adicione uma div
      </button>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js'></script>  
  <script src="../../../public/assets/js/sections/different-color-div/different-color-div.event.js"></script>
  